<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miislyk.petagram">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".layout.ListaMascotas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".layout.About"
            android:parentActivityName=".layout.ListaMascotas"/>
        <!--soporte 4.0 o menores-->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".layout.ListaMascotas">
        </meta-data>

        <activity android:name=".layout.ContactoActivity"
            android:parentActivityName=".layout.ListaMascotas"/>
        <activity android:name=".layout.MascotasFavoritas"
            android:parentActivityName=".layout.ListaMascotas"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>